.about {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.about__h1-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__h1 {
    position: relative;
    font-size: var(--size-2xl);
    color: var(--clr-slate700);
}
.about__content {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 3rem;
}
.about__img-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.about__img {
    height: 400px;
    border-radius: 6px;
}
.about__span {
    position: relative;
}
.about__text-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px;
    position: relative;
}
.about__text {
    font-size: var(--size-sm);
    text-align: center;
}



/* xs */
@media (min-width: 475px) {
    
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    
}
  
/* lg */
@media (min-width: 1024px) {
    .about__h1-cont {
        justify-content: start;
    }

   .about__content {
    flex-direction: row-reverse;
    gap: 5rem;
   }

   .about__text-cont {
    flex: 3;
   }

   .about__text {
    font-size: var(--size-base);
   }

   .about__img {
    height: 450px;
    }

    .about__h1 {
        font-size: var(--size-3xl);
    }
}
  
  
/* xl */
@media (min-width: 1280px) {
    .about__text {
        font-size: var(--size-xl);
       }
       .about__h1 {
        font-size: var(--size-5xl);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */