.projects {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.project__header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.project__title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.project__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}
.project__cont-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}
.project__cont img {
    border-radius: 5px;
    box-shadow: 3px 4px 31px -2px rgba(51,65,85,0.73);
    height: 300px;
}
.project__cont-2 img {
    border-radius: 5px;
    box-shadow: 3px 4px 31px -2px rgba(51,65,85,0.73);
    height: 300px;
}
.project__cont p {
    font-size: var(--size-sm);
    max-width: 60ch;
}
.project__cont-2 p {
    font-size: var(--size-sm);
    max-width: 60ch;
}


.project__cont-title {
    color: var(--clr-slate700);
    font-weight: 600;
}
.projects__h1 {
    position: relative;
    color: var(--clr-slate700);
}




/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .project__cont {
        flex-direction: row;
    }
    .project__cont-2 {
        flex-direction: row-reverse;
    }
}
  
/* lg */
@media (min-width: 1024px) {
    .project__cont img {
        height: 500px;
    }
    .project__cont-2 img {
        height: 500px;
    }
    .projects__h1 {
        font-size: var(--size-3xl);
    }
    .project__cont-title {
        font-size: var(--size-2xl);
    }    
    .project__cont p {
        font-size: var(--size-base);
    }
    .project__cont-2 p {
        font-size: var(--size-base);
    }
}
  
  
/* xl */
@media (min-width: 1280px) {
    .projects__h1 {
        font-size: var(--size-5xl);
    }
    .project__cont {
        padding-left:5rem;
        padding-right:5rem;
    }
    .project__cont-2 {
        flex-direction: row-reverse;
        padding-left:5rem;
        padding-right:5rem;
    }
    .project__cont p {
        font-size: var(--size-lg);
    }
    .project__cont-2 p {
        font-size: var(--size-lg);
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .project__cont p {
        max-width: 80ch;
    }
    .project__cont-2 p {
        max-width: 80ch;
    }
    .project__cont {
        padding-left:10rem;
        padding-right:10rem;
    }
    .project__cont-2 {
        padding-left:10rem;
        padding-right:10rem;
    }
}