.skills {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.skills__h1-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}
.skills__h1 {
    position: relative;
    color: var(--clr-slate700);
}
.skills__icons {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    /* min-height: 50vh; */
    padding: 60px 0;
    
}
/* .skills__icons-slide {
    display: inline-block;
    animation: 5s carouselAnimation infinite linear;
} */
.skills__icons img {
    height: 75px;
}

/* @keyframes carouselAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
} */






/* xs */
/* @media (min-width: 475px) {} */
  
/* sm */
/* @media (min-width: 640px) {} */
  
/* md */
/* @media (min-width: 768px) {} */
  
/* lg */
@media (min-width: 1024px) {
    .skills__icons img {
        height: 100px;
    }
    .skills__h1 {
        font-size: var(--size-3xl);
    }
}
  
  
/* xl */
@media (min-width: 1280px) {
    .skills__icons img {
        height: 175px;
    }
    .skills__h1 {
        font-size: var(--size-5xl);
    }
}
  
/* 2xl */
/* @media (min-width: 1536px) {} */