:root {
  --clr-slate100: #e2e8f0;
  --clr-sky300: rgb(125, 211, 252);
  --clr-slate700: #334155;




  /* sizes */

  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}


* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--clr-slate100);
  overflow-y: hidden;
}

.button {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: none;
  border: 0;
  background-color: var(--clr-sky300);
  box-shadow: 0px 7px 15px 0px rgba(125,211,252,1);
  color: inherit;
  transition: transform 0.3s, box-shadow 0.3s;
}
.button:hover {
  transform: translateY(-4px);
  box-shadow: 0px 9px 18px 0px rgba(125,211,252,1);
}

.container {
  /* border: 1px solid tomato; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

/* for animation */
.anim-opa {
  opacity: 0;
}

.fade-anim {
  animation: fadeIn 1s ease forwards;
}

.animate-mask {
  animation: slideIn 1s ease forwards;
}
/* for headers */
.fade-anim.fade-header {
  animation: fadeIn 1.3s ease .4s forwards;
}
.animate-mask.mask-header {
  animation: slideIn 1s ease .4s forwards;
}
/* for animation content */
.fade-anim.fade-about-delayed {
  animation: fadeIn 1.3s ease .5s forwards;
}
.fade-anim.fade-about-delayed2 {
  animation: fadeIn 1.3s ease .8s forwards;
}
.animate-mask.mask-about-delayed {
  animation: slideIn 1s ease .5s forwards;
}
.animate-mask.mask-about-delayed2 {
  animation: slideIn 1s ease .8s forwards;
}

.fade-anim.project-fade {
  animation: fadeIn 1s ease-in .3s forwards;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--clr-sky300);
}

/*effect animation */
@keyframes slideIn {
  0% {
      width: 0%;
      left: 0%;
  }
  50% {
      width: 100%;
      left: 0%;

      
  }
  100% {
      width: 0%;
      left: 100%;
  }
}

@keyframes fadeIn {
  /* from {
      opacity: 0;
  }
  to {
      opacity: 1;
  } */

  0% {
      opacity: 0;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
  
}


/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}


/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
